body {
	background-color: #F5E9BE;
	height: 1500px;
}

div.navbarBackground {
	position: relative;
	background-color: #F6E6AC; 
	height: 247px;
	z-index: 950;
}

div.logo {
	position: absolute;
	top: 53px;
	left: 32px;
	width: 205px;
	height: 60px;
	padding: 0px;
	/*
	margin-top: 53px;
	margin-left: 32px;
	*/
}

div.icon-hourglass {
	content: url('../img/Hourglass@2x.png');
	width: 60px;
	height: 60px;
	padding: 0px;
	margin: 0px;
}

div.text-hourglass {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 13px;
	left: 75px;
	font-family: "Courier";
	font-size: 24px;
	font-weight: bold;
	color: #174C4F;
}

div.tranglediv {
	position: absolute;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 170px solid #FF9666;
	border-left: 170px solid transparent;
}

/* Rotate 45 degree */
#text-alpha {
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 36px;
	color: #207178;
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    transform: rotate(45deg);
    float: left;
    vertical-align:top;
}


div.topImg {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	content: url('../img/top-background-img.jpg');
	height: 789px;
	z-index: 1000;
	opacity: 0.2;
}

