body {
	background-color: #F5E9BE;
	height: 1500px;
}

div.navbarBackground {
	position: relative;
	background-color: #F6E6AC; 
	height: 247px;
}

div.logo {
	position: absolute;
	top: 53px;
	left: 32px;
	width: 205px;
	height: 60px;
	padding: 0px;
	/*
	margin-top: 53px;
	margin-left: 32px;
	*/
}

div.icon-hourglass {
	content: url('../img/Hourglass@2x.png');
	width: 60px;
	height: 60px;
	padding: 0px;
	margin: 0px;
}

div.text-hourglass {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 13px;
	left: 75px;
	font-family: "Courier";
	font-size: 24px;
	font-weight: bold;
	color: #174C4F;
}

div.tranglediv {
	position: absolute;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 170px solid #FF9666;
	border-left: 170px solid transparent;
}

/* Rotate 45 degree */
#text-alpha {
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 36px;
	color: #207178;
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    transform: rotate(45deg);
    float: left;
    vertical-align:top;
}

div.allinone {
	width: 502px;
	height: 619px;
	position: relative;
	/* above the nav bar */
	z-index: 990;
	margin-top: -148px;
	/* center the block */
	margin-left: auto;
	margin-right: auto;

}

div.text-allinone {
	position: absolute;
	left: 154px;
	top: 102px;
	font-family: "Courier";
	font-size: 32px;
	font-weight: bold;
	color: #174C4F;
	width: 194px;
	height: 38px;
}

div.text-icontext-allinone {
	font-family: "Helvetica";
	font-weight: lighter;
	text-align: center;
	color: #174C4F;
	font-size: 16px;
}

div.icon-todolist {
	content: url('../img/Todo List Icon.png');
	position: absolute;
	left: 114px;
	top: 216px;
	width: 48px;
	height: 48px;
}

div.text-todolist {
	position: absolute;
	top: 277px;
	left: 109px;
	width: 53px;
	height: 38px;
}

div.icon-taskplanning {
	content: url('../img/Task Planning Icon.png');
	position: absolute;
	width: 48px;
	height: 48px;
	left: 343px;
	top: 220px;
}

div.text-taskplanning {
	position: absolute;
	top: 276px;
	left: 329px;
	width: 78px;
	height: 38px;
}

div.icon-pomodoro {
	content: url('../img/Pomodoro Icon.png');
	position: absolute;
	width: 48px;
	height: 48px;
	left: 113px;
	top: 362px;
}


div.text-pomodoro {
	position: absolute;
	top: 422px;
	left: 97px;
	width: 77px;
	height: 19px;
}

div.icon-projectmanagement {
	content: url('../img/Project Management Icon.png');
	position: absolute;
	width: 48px;
	height: 48px;
	left: 343px;
	top: 362px;
}

div.text-projectmanagement {
	position: absolute;
	top: 413px;
	left: 316px;
	width: 103px;
	height: 38px;
}

div.icon-more {
	content: url('../img/More Icon.png');
	position: absolute;
	width: 48px;
	height:48px;
	left: 228px;
	top: 471px;
}

div.text-more {
	position: absolute;
	top: 525px;
	left: 220px;
	width: 62px;
	height: 19px;

}

div.icon-timetracking {
	content: url('../img/Time Tracking Icon.png');
	position: absolute;
	left: 219px;
	top: 259px;
	width: 64px;
	height: 81px;
}

div.text-timetracking {
	font-weight: bold;
	font-size: 19px;
	position: absolute;
	top: 354px;
	left: 200px;
	width: 103px;
	height: 46px;
}

div.allinone-outside {
	content: url('../img/allinone-outside@2x.png');
	width: 502px;
	height: 619px;
}


div.topImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	content: url('../img/top-background-img.jpg');
	height: 789px;
	opacity: 0.2;
}

div.spreadWorld-section {
	width: 394px;
	height: 77px;
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
}

div.text-helpSpreadWorld {
	color: #174C4F;
	font-size: 18px;
	font-family: "Helvetica";
	font-weight:lighter;
	width: 395px;
	height: 22px;
}

div.spreadWorld-socialMediaIcon {
	width: 173px;
	height: 45px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

}

/* 	float: left
	make div blocks side by side */ 

div.icon-facebook {
	content: url('../img/Facebook Icon.png');
	width: 44px;
	height: 44px;
	float: left;
}

div.icon-twitter {
	content: url('../img/Twitter Icon.png');
	width: 47px;
	height: 39px;
	margin-left: 20px;
	margin-top: 3px;
	float: left;
}

div.icon-googleplus {
	content: url('../img/Google Plus Icon.png');
	width: 42px;
	height: 45px;
	margin-left: 20px;
	float: left;
}

div.comingSoon-section {
	width: 317px;
	height: 122px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
}

div.text-comingsoon {
	color: #174C4F;
	font-size: 48px;
	font-family: "Courier";
	font-weight: bold;
	width: 317px;
	height: 58px;
	margin-left: auto;
	margin-right: auto;
}

div.comingSoon-deviceIcon {
	width: 174px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}


div.icon-computer {
	content: url('../img/Computer Icon.png');
	width: 54px;
	height: 47px;
	float: left;
}

div.icon-phone {
	content: url('../img/Phone Icon.png');
	width: 26px;
	height: 47px;
	float: left;
	margin-left: 25px;
}

div.icon-tablet {
	content: url('../img/Tablet Icon.png');
	width: 38px;
	height: 47px;
	margin-left: 30px;
	float: left;
}

div.emailSubscription-section {
	width: 662px;
	height: 79px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	/* border on top and bottom */
	border-top:1px solid #207178;
	border-bottom: 1px solid #207178;

	display: none;
}

div.emailSubscription-inputForm {
	width: 425px;
	height: 34px;
	padding-left: 15px;
	padding-top: 23px;
	float: left;
}

div.emailSubscription-button {
	float: left;
	margin-left: 16px;
	margin-top: 21px;
}

button.btn-custom-subscribe {
	width: 189px;
	height: 36px;
}

div.subscriptionError-section {
	width: 465px;
	height: 121px;
	margin-top: 119px;
	margin-left: auto;
	margin-right: auto;
}

div.subscriptionError-description {
	font-family: "Helvetica";
	font-weight: lighter;
	font-size: 14px;
}

div.subscriptionError-iconset {
	margin-top: 26px;
	width: 111px;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
}

